.container1 {
        width: 100%;
        overflow: hidden;
        position: relative;
      }
      
      .container1 img {
        width: 100%;
        height: 600px;
        display: block;
        opacity: 0.5;
      }
      
  .centro-grande {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 145px;
    font-weight: bold;
  }

   .textosem {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  ul {
     text-align: right;
  }
  
  li {
    display: inline-block;
    color: rgb(0, 0, 0);
    margin-right: 250px;
    font-size: 25px;
  }

  .caixa {
    border: 10px solid black;
    padding: 10px;
  } 
  .area-colorida {
        background-color: rgb(150, 138, 115); /* Cor de fundo da área colorida */
        height: 480px; /* Altura da área colorida */
        width: 100%; /* Largura da área colorida */
        position: relative; /* Define a posição relativa para a área colorida */
        z-index: 1; /* Define a ordem de camada da área colorida */
  }
  


  h2 {
    text-align: center;
    font-size: 100px;
  }
  
  .ficar {
    text-align: center;   
    font-size: 50px;
  }
   
  h3 {
    text-align: left;
    background-color: #f2f2f2;
    border-left: 5px solid #000000;
    padding: 10px;
    margin-left: 700px;
  }
  
  p1 {
    font-size: 27px;
    margin-left: 30px;
  }
   .doc {
    float: left;
    margin-right: 0px;
    width: 680px;
    height: 350px;
   }
   
   h4 {
    text-align: left;
    background-color: #f2f2f2;
    border-left: 5px solid #000000;
    padding: 10px;
    
   }
   
   p2 {
    font-size: 27px;
  }
  
  .treinamento {
    float: right;
    margin-right: 0px;
    width: 680px;
    height: 350px;
   }
  
   .planilhas {
    float: left;
    margin-right: 0px;
    width: 680px;
    height: 350px;
   }
   .fotos {
    float: right;
    margin-right: 0px;
    width: 680px;
    height: 350px;
   }  

   h5 {
    text-align: center;
    font-size: 50px;
    background-color: rgb(150, 138, 115);
    border-top: #000000;
    border: 10px solid black;
    padding: 10px;
  }

  p3 {
    margin-left: 140px;
    font-size: 40px;
  } 

  p4 {
    margin-left: 160px;
    font-size: 40px; 
  }

  .fa-download {
    color: #000000;
    background-color: rgb(150, 138, 115);
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
     }

  a {
    text-decoration: none;
    color: black;
  }
 
  p5 {
    font-size: 30px;
  }


  body {
    color: black;
  }
  